// ======================================
//  Variables
// ======================================

//Colors

$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: #777777;

$color-col-3: #deb2ee;
$color-col-4: #7ee6fd;

//Breakpoints
$break-med: 768px;